<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Da inserire frammengo meta tags -->
    <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
    <title>Pizza</title>
  </head>
  <body>
    <!-- Da inserire frammento navbar -->
    <div th:replace="~{fragments/navbar :: NavBar}"></div>

    <div class="container mt-4">
      <h1 class="text-center">Dettagli Pizza</h1>
      <section class="row justify-content-center">
        <div class="col-md-6 col-lg-4 card p-4 shadow-sm" th:object="${pizza}">
          <h3 class="text-primary">[[*{nome}]]</h3>
          <h4 class="text-success">€ [[*{prezzo}]]</h4>
          <p class="text-muted">[[*{descrizione}]]</p>
          <div class="d-flex justify-content-center">
            <a th:href="@{/pizze}" class="btn btn-outline btn-warning mx-2"
              >Lista</a
            >
            <a
              th:href="@{/pizze/{id}/offerta(id=${pizza.id})}"
              class="btn btn-primary"
              >Crea Offerta</a
            >
          </div>
        </div>
      </section>
    </div>
    <div th:if="${pizza.getOfferte().size() > 0}">
      <h2 class="text-center mt-4">
        Offerte disponibili per la pizza [[${pizza.nome}]]
      </h2>
      <div class="table-responsive container mt-4">
        <table
          class="table table-striped table-hover table-bordered align-middle"
        >
          <thead class="table-dark">
            <tr>
              <th scope="col">Nome offerta</th>
              <th scope="col">Data inizio</th>
              <th scope="col">Data fine</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="offerta : *{pizza.getOfferte}">
              <td>[[${offerta.nomeOfferta}]]</td>
              <td>[[${offerta.dataInizioOfferta}]]</td>
              <td>[[${offerta.dataFineOfferta}]]</td>
              <td class="text-center">
                <a
                  class="btn btn-success"
                  th:href="@{/offerte/edit/{id}(id=${offerta.id})}"
                  >Edita</a
                >
              </td>
              <td class="text-center">
                <form
                  th:action="@{/offerte/delete/{id}(id=${offerta.id})}"
                  method="post"
                >
                  <button class="btn btn-danger btn-sm" type="submit">
                    Cancella
                  </button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Da inserire frammento script risorse -->
    <div th:replace="~{fragments/resources :: bodyScripts}"></div>
  </body>
</html>
