<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Da inserire frammengo meta tags -->
    <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
    <title>Pizza</title>
  </head>
  <body>
    <!-- Da inserire frammento navbar -->
    <div th:replace="~{fragments/navbar :: NavBar}"></div>

    <div class="container mt-4">
      <h1 class="text-center">Dettagli Pizza</h1>
      <section class="row justify-content-center">
        <div class="col-md-6 col-lg-4 card p-4 shadow-sm" th:object="${pizza}">
          <h3 class="text-primary">[[*{nome}]]</h3>
          <h4 class="text-success">€ [[*{prezzo}]]</h4>
          <p class="text-muted">[[*{descrizione}]]</p>
          <div class="d-flex justify-content-center">
            <a th:if="${pizza.id > 1}" th:href="@{/pizze/{id}(id=${pizza.id - 1})}" class="btn btn-outline btn-dark  mx-2"
              >Precedente</a
            >
            <a th:href="@{/pizze}" class="btn btn-outline btn-warning mx-2"
              >Lista</a
            >
            <a th:if="${pizza.id < sizePizze}" th:href="@{/pizze/{id}(id=${pizza.id + 1})}" class="btn btn-outline btn-dark mx-2"
              >Prossima</a
            >
          </div>
        </div>
      </section>
    </div>

    <!-- Da inserire frammento script risorse -->
    <div th:replace="~{fragments/resources :: bodyScripts}"></div>
  </body>
</html>
