<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Da inserire frammengo meta tags -->
    <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
    <title>Crea offerta</title>
  </head>
  <body>
    <!-- Da inserire frammento navbar -->
    <div th:replace="~{fragments/navbar :: NavBar}"></div>

    <th:block>Offerta per pizza id: [[${offerta.pizza.nome}]] </th:block>
    <form
      th:action="@{/offerte/create}"
      method="post"
      id="formOfferta"
      th:object="${offerta}"
    >
      <div class="mb-3" th:if="${#fields.hasErrors()}">
        <ul class="alert alert-danger ps-5">
          <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
        </ul>
      </div>

      <!-- Nascondo i dati del mio libri dalla visualizzazione -->
      <input type="hidden" th:field="${offerta.pizza.id}" />

      <label for="nomeOfferta">Nome offerta</label>
      <input type="text" th:field="*{nomeOfferta}" id="nomeOfferta" />

      <label for="dataInizioOfferta">Data inizio offerta</label>
      <input
        type="date"
        th:field="*{dataInizioOfferta}"
        id="dataInizioOfferta"
      />

      <label for="dataFineOfferta">Data fine offerta</label>
      <input type="date" th:field="*{dataFineOfferta}" id="dataFineOfferta" />

      <button type="submit">Crea nuova offerta</button>
    </form>

    <!-- Da inserire frammento script risorse -->
    <div th:replace="~{fragments/resources :: bodyScripts}"></div>
  </body>
</html>
